$('.projectForm').html('<div id="addTodoList"><%= link_to new_project_path, remote: true do %><button class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus plusblack" aria-hidden="true"></i>&nbsp; Add TODO List</button><% end %></div>');
$('.myProjects').append('<%= j render @project  %>');
$(".flash").html('<%= j render partial: "layouts/flash", locals: { success: flash[:success] } %>');