$('.firstRow').children('.projectForm').replaceWith('<div class="ProjectName" id="<%= @project.id %>">   <%= @project.name %></div>');
$(".flash.<%= @project.id %>").html('<%= j render partial: "layouts/flash", locals: { success: flash[:success] } %>');